@model IEnumerable<HTTP_5212_RNA_Group4_HospitalProject.Models.Prescription>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pharmacy.PharmacyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrescriptionDrug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrescriptionRefills)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrescriptionDosage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrescriptionInstructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PharmacyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pharmacy.PharmacyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staff.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrescriptionDrug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrescriptionRefills)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrescriptionDosage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrescriptionInstructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PharmacyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PrescriptionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PrescriptionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PrescriptionID })
        </td>
    </tr>
}

</table>
