@model HTTP_5212_RNA_Group4_HospitalProject.Models.Appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>

        <dd>
            @Html.DisplayFor((model => model.PatientName))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.FirstName + model.Staff.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.FirstName + model.Staff.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppointmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>




