@model HTTP_5212_RNA_Group4_HospitalProject.Models.ViewModels.DetailsPrescription
@{
    ViewBag.Title = "Details";
}
<section class="prescription">
    <div class="pharmacy__wrapper">
        <h1 class="pForm__title">@Model.SelectedPrescription.PatientName</h1>
        <div class="pharmacy__content">
            <div class="pharmacy__content">
                <section class="prescription__drug">
                    <h2>Drug Information</h2>
                    <ul class="pharmacy__list">
                        <li class="list__item">Drug: <span>@Model.SelectedPrescription.PrescriptionDrug</span></li>
                        <li class="list__item">Dosage: <span>@Model.SelectedPrescription.PrescriptionDosage</span></li>
                        <li class="list__item">Refills: <span>@Model.SelectedPrescription.PrescriptionRefills</span></li>
                        <li class="list__item">Instructions: <span>@Model.SelectedPrescription.PrescriptionInstructions</span></li>
                    </ul>
                </section>
                <section>
                    <h2>Pharmacy Information</h2>
                    <ul class="pharmacy__list">
                        <li class="list__item">Pharmacy ID: <span>@Model.SelectedPrescription.PharmacyID</span></li>
                        <li class="list__item">Pharmacy Name: <span>@Model.SelectedPrescription.PharmacyName</span></li>
                        <li class="list__item">Pharmacist: <span>@Model.SelectedPrescription.FirstName @Model.SelectedPrescription.LastName | @Model.SelectedPrescription.Title</span></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
    @if (Model.IsAdmin)
    {
        <div class="pharmacy__links">
            <a href="/prescription/edit/@Model.SelectedPrescription.PrescriptionID" class="pharmacy__link--edit">Edit</a>
            <a href="/prescription/deleteconfirm/@Model.SelectedPrescription.PrescriptionID" class="pharmacy__link--delete">Delete</a>
        </div>
    }
</section>

