@model HTTP_5212_RNA_Group4_HospitalProject.Models.ViewModels.UpdatePharmacy
@{
    ViewBag.Title = "Edit" + " " + @Model.SelectedPharmacy.PharmacyName;
}

<h1 class="pForm__title">Edit @Model.SelectedPharmacy.PharmacyName</h1>
<form action="/Pharmacy/Update/@Model.SelectedPharmacy.PharmacyID" class="pForm" method="POST" enctype="multipart/form-data">
    <div style="display:none;">
        <input type="text" name="PharmacyID" value="@Model.SelectedPharmacy.PharmacyID" />
    </div>
    <div class="pForm__wrapper">
        <label for="PharmacyName" class="pForm__label">Pharmacy Name:</label>
        <input type="text" class="pForm__input" name="PharmacyName" placeholder="E.g: Riverside Healthcare Pharmacy" value="@Model.SelectedPharmacy.PharmacyName" />
    </div>
    <div class="pForm__wrapper">
        <label for="PharmacyLocation" class="pForm__label">Pharmacy Location:</label>
        <input type="text" class="pForm__input" name="PharmacyLocation" placeholder="E.g: 123 Some St, Toronto" value="@Model.SelectedPharmacy.PharmacyLocation" />
    </div>
    <div class="pForm__wrapper">
        <label for="PharmacyWaitTime" class="pForm__label">Pharmacy Wait Time (Minutes):</label>
        <input type="number" class="pForm__input" name="PharmacyWaitTime" placeholder="E.g: 25" value="@Model.SelectedPharmacy.PharmacyWaitTime" />
    </div>
    <div class="pForm__wrapper">
        <label for="PharmacyOpenTime" class="pForm__label">Pharmacy Open Time (Military Time):</label>
        <input type="number" class="pForm__input" name="PharmacyOpenTime" placeholder="Example: 0900" value="@Model.SelectedPharmacy.PharmacyOpenTime" />
    </div>
    <div class="pForm__wrapper">
        <label for="PharmacyCloseTime" class="pForm__label">Pharmacy Close Time (Military Time):</label>
        <input type="number" class="pForm__input" name="PharmacyCloseTime" placeholder="Example: 1800" value="@Model.SelectedPharmacy.PharmacyCloseTime" />
    </div>
    <div class="pForm__wrapper pForm__wrapper--check">
        <label for="PharmacyDelivery" class="pForm__label">Is There Delivery?</label>
        <input class="pharmacy__checkbox" type="checkbox" name="PharmacyDelivery" value="true" data-delivery="@Model.SelectedPharmacy.PharmacyDelivery" />
        <span class="pharmacy__checked"></span>
    </div>
    <div class="pForm__wrapper">
        <input type="file" class="pForm__input" name="PharmacyPic" />
    </div>
    <input type="submit" class="pForm__submit" name="Submit" value="Update" />
</form>
<script>
    if (document.querySelector(".pharmacy__checkbox").dataset.delivery == "True") {
        document.querySelector(".pharmacy__checkbox").checked = true;
        document.querySelector(".pharmacy__checked").innerHTML = "Yes";
    } else {
        document.querySelector(".pharmacy__checked").innerHTML = "No";
    }

    document.querySelector(".pharmacy__checkbox").addEventListener("click", function() {
        if (this.checked) {
            document.querySelector(".pharmacy__checked").innerHTML = "Yes";
        } else {
            document.querySelector(".pharmacy__checked").innerHTML = "No";
        }
    });
</script>

